html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Courier';
    color: #FFF;
    font-size: 12pt;
    line-height: 10pt;
}

canvas {
    display: block;
}

header {
    border-bottom: 5px double rgba(255,255,255,.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

h1 {
    padding:0;
    margin:0;
}

#eye {
    width: 40px;
    height: 40px;
}

#infoBtn {
    background-color: #0000;
    border: none;
    padding: 0;
    height: 40px;
}

#info {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

#exampleCont {
    margin: 2vw;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    row-gap: 40px;
    column-gap: 100px;
    grid-auto-rows: auto;
    justify-content: center;
}

.thumbnail {
    width: 275px;
    height: 275px;
    margin-bottom: 10px;
    border: 5px double white;
}

a {
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}
a:active {
    color: white;
}
a:visited {
    color: white;
}


@media only screen and (max-width: 700px) {
    #exampleCont {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        column-gap: 0px;
    }
    .example {
        margin: auto;
    }
    .thumbnail {
        width: 275px;
        height: 275px;
    }
}